{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%  static 'shop/css/style.css' %}">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="header-logo">
        <a href="{% url 'index' %}">
            <img src="{%  static 'shop/img/logo.png' %}" alt="Логотип">
        </a>
    </div>
    <div class="header-menu">
        <nav>
            <ul class="header-menu-main">
                    <li><a href="{% url 'index' %}">Главная</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-admin">
        <a href="/admin/login/">Админка</a>
    </div>
</div>
<div class="main-section">
    <div class="main-sidebar">
        {% block contentcategory %}
        {% endblock %}
    </div> <!-- class="main-sidebar" -->
    <div class="main-content">
        {% block contentproduct %}
        {% endblock %}
    </div> <!-- class="main-content" -->
</div><!-- class="main-section" -->
<div class="footer">

</div>
<script src="{% static 'shop/js/script.js' %}"></script>
</body>
</html>