{% extends 'shop/basa.html' %}

{% block contentcategory %}
 <h2 class="main-sction-title">Категории</h2>
        <h2><a href="{% url 'index' %}">Все категории</a></h2>
            <ul class="category-sction">
                {% for c in category %}
                    <li>
                       <h2><a href="{{ c.get_absolute_url }}">{{c.name}}</a></h2>
                    </li>
                {% endfor %}
            </ul>
{% endblock %}

{% block contentproduct %}
 <h2 class="main-sction-title">Товары</h2>
<div class="container">
  <div class="row">
    {% for p in product %}

      <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
              <img src="{{p.image.url}}" class="card-img-top" alt="{{p.name}}">
              <div class="card-body">
                <h5 class="card-title"><a href="{{ p.get_absolute_url }}">{{p.name}}</a></h5>
                <h5 class="card-title">Стоимость товара: {{p.price}}</h5>
                <p class="card-text">Описание товара: {{p.description}}</p>
                <p class="card-text">Страна производитель: {{p.country}}</p>
                <a href="{{ p.get_absolute_url }}" class="btn btn-primary fix-show-btn">Посмотреть</a>
                <a href="#" class="btn btn-success">Добавить в корзину</a>

              </div>
            </div><!-- class="card" -->
      </div> <!-- class="col-sm-4 -->

        {% endfor %}
  </div>   <!-- class="container" -->
  </div>   <!-- class="row" -->
{% endblock %}