{% extends 'shop/basa.html' %}
{% block oneproduct %}

         <h3>Карточка товара</h3>
          <div class="card" style="width: 18rem;">
              <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h5 class="card-title">Стоимость товара: {{product.price}}</h5>
                <p class="card-text">Описание товара: {{product.description}}</p>
                <p class="card-text">Страна производитель: {{product.country}}</p>
                   <form action="{% url 'cart_add' product.id %}" method="post">
                        {% csrf_token %}
                      <select name="quantity">
                          {% for key, value in product_quantity_choices %}
                                <option value="{{key}}" >{{value}}</option>
                          {% endfor %}
                      </select>
                      <input type="submit" value="Добавить в корзину" class="btn btn-success">
                    </form>
              </div>
            </div><!-- class="card" -->


{% endblock %}