{% extends 'shop/basa.html' %}
{% block oneproduct %}
 {% for p in product %}
         <h3>Карточка товара</h3>
          <div class="card" style="width: 18rem;">
              <img src="{{p.image.url}}" class="card-img-top" alt="{{p.name}}">
              <div class="card-body">
                <h5 class="card-title">{{p.name}}</h5>
                <h5 class="card-title">Стоимость товара: {{p.price}}</h5>
                <p class="card-text">Описание товара: {{p.description}}</p>
                <p class="card-text">Страна производитель: {{p.country}}</p>
                <a href="#" class="btn btn-success">Добавить в корзину</a>
              </div>
            </div><!-- class="card" -->

    {% endfor %}
{% endblock %}