.header {
    width:100%;
    height:80px;
    background-color:#50C878;
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: row;
}
.header-logo {
    width:25%;
    height:80px;
}

.header-menu {
    width:55%;
    height:80px;
}

.header-admin {
    width:19.5%;
    height:80px;
    padding-top:25px;
}

.header-admin a {
    text-decoration:none;
    font-size:20px;
}

.header-menu-main {
    list-style: none;
    padding-top:10px;
}

.header-menu-main li {
    float:left;
    margin-left:20px;
}

.header-menu-main a {
    text-decoration:none;
    font-size:20px;
}

/* Стили для контента и сайтбара*/
.main-section {
    width:80%;
    min-height: 720px;
    margin:0 auto;
    display: flex;
}
.main-sidebar {
    width:20%;
}
.main-content {
    width:80%;
}

.main-sction-title{
    text-align: center;
    font-size:28px;
}

/* Section category*/
.category-sction,
.student-sction {
   list-style: none;
}

.fix-show-btn {
    margin-bottom:10px;
}

.fix-carousel-item {
    width:100%;
    height:700px;
}

.fix-carousel-item img {
    width:100%;
    height:100%;
}

.footer {
	width: 100%;
	height: 80px;
	background-color: #838996;
}
